<footer>
  <a title="contact me via email" href="mailto:contact@driezie.studio" class="mail">
    <span>Contact</span>
  </a>
  <p>DRIEZIE STUDIO<br>
    DIGITAL CREATIVE STUDIO<br>
    <a title="contact me via email" href="mailto:contact@driezie.studio">CONTACT@DRIEZIE.STUDIO</a>
  </p>
  <p class="Socials">
    <a title="link to homepage" href="/" target="_blank">Driezie Studio</a>
    <a title="contact me via X formally twitter" href="" target="_blank">/ X (Formally Twitter)</a>
    <a title="contact me via instagram" href="" target="_blank">/ Instagram</a>
    <a title="contact me via linkedin" href="" target="_blank">/ Linkedin</a>
    <br>
    <time id="amsterdam-time"></time>
  </p>

  <!-- <form action="#" class="newsletter">
      <fieldset>
          <input type="email" placeholder="Subscribe to our newsletter">
          <button>↘</button>
      </fieldset>
      <div class="line"></div>
  </form> -->
</footer>

<div class="notification-lenis">
  <div class="notification-container">
    <p class="title">Enable Smooth Scrolling</p>
    <p class="description">For the best experience, would you like to enable or ignore the Smooth scrolling plugin from Lenis.</p>
    <!-- Button -->
    <form id="notificationForm">
      <button type="button" onclick="enableScroll()">Enable</button>
      <button type="button" onclick="ignoreScroll()">Ignore</button>
    </form>
  </div>
</div>
