<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driezie Studio</title>
    <!-- import styles -->
    <link rel="stylesheet" href="/style/fonts.css">
    <link rel="stylesheet" href="/style/navbar.css">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/circle.css">

    <!-- icon -->
    <link rel="icon" href="/images/icon.png" type="image/x-icon">
    <!-- seo -->
    <meta name="description" content="Driezie Studio is a technology-driven creative studio based in Amsterdam.">
    <!-- social media -->
    <meta property="og:title" content="Driezie Studio.">
    <meta property="og:description" content="Driezie Studio is a technology-driven creative studio based in Amsterdam.">
    <meta name="twitter:site" content="@drieziestudio">
    <meta name="twitter:creator" content="@drieziestudio">
    <meta name="twitter:title" content="Driezie Studio.">
    <meta name="twitter:description" content="Driezie Studio is a technology-driven creative studio based in Amsterdam.">
    <meta name="twitter:card" content="summary_large_image">

    <script src="/js/lenis.js" defer></script> 
    <script src="/js/main.js" defer></script> 
  </head>