<!DOCTYPE html>
<html lang="en">
    <%- include('components/head') %>
    <body>
        <main id="top">
            <div class="header-container">
                <header>
                    <div class="logo">
                        <a href="/#top">
                            <span>D</span>
                            <span>Driezie Studio</span>
                        </a>
                    </div>
                    <nav class="nav">
                        <a href="/">Home</a>
                        <a href="/projects">Projects</a>
                        <a href="/about">About</a>
                        <a href="/contact">Contact</a>
                    </nav>
                </header>
            </div>
        </main>
        <%- include('components/footer') %>
    </body>

        
