<!DOCTYPE html>
<html lang="en">
    <%- include('components/head') %>
    <body class="smooth-scroll-wrapper">
        <div class="header-container">
            <header>
                <div class="logo">
                    <a href="/#top">
                        <span>D</span>
                        <span>Driezie Studio</span>
                    </a>
                </div>
                <nav class="nav">
                    <a class="active" href="#">Home</a>
                    <a href="/projects">Projects</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                </nav>
            </header>
        </div>
        

        

        <main id="top">
            <section class="head">
                <h1 class="h1">
                    Driezie Studio is a <span>technology-driven</span> creative studio based in Amsterdam.
                </h1>
                <p class="uppercase">Based in amsterdam - Working worldwide</p>
            </section>

            <section class="intro">
                <picture>
                    <!-- <source srcset="/images/projects/packables/designs/euhgtbdfvnsijogrkdtb.avif" type="image/webp">
                    <source srcset="/images/projects/packables/designs/euhgtbdfvnsijogrkdtb.webp" type="image/webp"> -->
                    <img src="/images/projects/dda/thumbnail2.jpg" alt="Hero">
                    <div id="circle">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="500px" height="500px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                            <defs>
                                <path id="circlePath" d=" M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "/>
                            </defs>
                            <circle cx="150" cy="100" r="75" fill="none"/>
                            <g>
                                <use xlink:href="#circlePath" fill="none"/>
                                <text fill="#000">
                                    <textPath xlink:href="#circlePath">scroll down scroll down scroll down</textPath>
                                </text>
                            </g>
                        </svg>
                        </div>
                </picture>
            </section>

            <section class="about" id="about">
                <div class="grid">
                    <div class="content">
                        <article class="information">
                            <h2>
                                About Driezie Studio
                            </h2>
                            <p>Driezie Studio is a technology-driven creative studio based in Amsterdam. We build accessible, responsive, and easy-to-use websites for brands and agencies of all sizes.</p>
                            <p>Unlike many agencies and studios that operate in groups, Driezie Studio is a one-person operation, led by me, Driezie. As a student in the Netherlands, I founded this studio to bring my vision of accessible and beautiful web design to life. My personal approach ensures that every client receives dedicated attention and a customized experience.</p>
                            <p>We work with clients to create digital products and services that are accessible, responsive, and easy to use. We believe that the best work is done when we collaborate with our clients to create something truly unique and special.</p>
                        </article>
                        <article>
                            <label>Design</label>
                            <p>Brand Design</p>
                            <p>UI & UX Design</p>
                            <p>Wireframes & Prototyping</p>
                            <p>eCommerce</p>
                            <p>Social Content</p>
                        </article>
                        <article>
                            <label>Focussed On</label>
                            <p>Accessibility</p>
                            <p>Performance</p>
                            <p>Responsiveness</p>
                            <p>Progressive Enhancement</p>
                        </article>
                        
                    </div>
                </div>
            </section>


            <section class="project-review">
                <h3>
                    Our work spans design, development, and strategy.
                </h3>
                <ul class="list">
                    <li>
                        <a href="/projects/packables-web-development">
                            <picture>
                                <img src="/images/projects/packables/designs/thumbnail.jpg" alt="">
                            </picture>
                            <div class="project-content">
                                <h4>
                                    <span>Packables</span>
                                </h4>
                                <p class="tags">
                                    <span>Brand design, Wireframes & Prototyping, eCommerce</span>
                                </p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="/projects/project_old_portfolio">
                            <picture>
                                <img src="/images/projects/drieziestudio2/thumbnail.jpg" alt="">
                            </picture>
                            <div class="project-content">
                                <h4>
                                    <span>My Old Portfolio</span>
                                </h4>
                                <p class="tags">
                                    <span>Brand design, Wireframes & Prototyping</span>
                                </p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="/projects/project_barzaarblox">
                            <picture>
                                <img src="/images/projects/barzaarblox/thumbnail.jpg" alt="">
                            </picture>
                            <div class="project-content">
                                <h4>
                                    <span>Barzaarblox</span>
                                </h4>
                                <p class="tags">
                                    <span>Brand design, Wireframes & Prototyping, eCommerce</span>
                                </p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="/projects/dda_dutch_digital_agency">
                            <picture>
                                <img src="/images/projects/dda/image1.jpg" alt="">
                            </picture>
                            <div class="project-content">
                                <h4>
                                    <span>Dutch Digital Agency</span>
                                </h4>
                                <p class="tags">
                                    <span>Product Design, UI & UX Design, Development, Deployment</span>
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
                <a class="see-more btn primary" href="/projects">SEE MORE PROJECTS ↘</a>
            </section>

            <section class="content" id="about">
                <div class="content">
                    <h2>
                        FAQ
                    </h2>
                    <div class="text">
                        <article class="information">
                            <!-- <label>Introduction</label> -->
                            <p>Do you have any questios about my product or services. We've compiled the questions we get asked the most and answered them. If your question isn't on here, please reach out.</p>
                        </article>

                        <details>
                            <summary>What measures does Driezie Studio take to ensure websites are accessible to all users?</summary>
                            <p>
                                Accessibility is top priority at Driezie Studio. We follow industry standards and WCAG guidelines to ensure our websites are user-friendly for everyone. This means including features like descriptive image text, keyboard navigation, and clear HTML structure.</p>
                        </details>
    
                        <details>
                            <summary>What makes Driezie Studio unique compared to other web development studios?</summary>
                            <p>Driezie Studio is a one-person operation, offering personalized attention and direct communication throughout the project. As a student in the Netherlands, I'm passionate about delivering accessible, responsive, and user-friendly websites for brands, agencies, and non-profit organizations.</p>
                        </details>

                        <details>
                            <summary>How can I request a website project?</summary>
                            <p>Getting started is easy! Simply reach out via email to discuss your project requirements. Whether you need a brand new website, a redesign, or ongoing maintenance, I'm here to help.</p>
                        </details>

                        <details>
                            <summary>Does we only work with brands and agencies, or do you also cater to non-profit organizations?</summary>
                            <p>Driezie Studio is dedicated to serving clients of all sizes, including non-profit organizations. I believe in using my skills to contribute positively to the community by providing accessible and high-quality digital solutions for non-profits.</p>
                        </details>

                        <details>
                            <summary>What is the typical process for developing a website?</summary>
                            <p>Our process begins with a consultation to understand your goals and requirements. From there, I'll work on brand design, UI/UX design, wireframing, and prototyping. Throughout the development phase, I prioritize accessibility, performance, and responsibility to ensure the best possible outcome.</p>
                        </details>

                        <details>
                            <summary>How long does it take to complete a website project?</summary>
                            <p>The timeline for each project varies depending on its complexity and scope. During the initial consultation, we'll discuss timelines and milestones to ensure a smooth and efficient development process.</p>
                        </details>

                        <details>
                            <summary>Can we help with website maintenance and updates after the project is completed?</summary>
                            <p>Absolutely! I offer ongoing support and maintenance services to ensure your website remains up-to-date, secure, and optimized for performance. Whether you need content updates, security patches, or technical assistance, I'm here to help.</p>
                        </details>

                        
                    </div>
                </div>
            </section>
        </main>
    <%- include('components/footer') %>
        
    </body>

        
