<!DOCTYPE html>
<html lang="en">
    <%- include('components/head') %>
    <body>
        <div class="header-container">
            <header>
                <div class="logo">
                    <a href="/#top">
                        <span>D</span>
                        <span>Driezie Studio</span>
                    </a>
                </div>
                <nav class="nav">
                    <a href="/">Home</a>
                    <a href="/projects">Projects</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                </nav>
            </header>
        </div>
        

        <!-- <div class="loader">
            <div class="view">
                <p>Driezie Studio</p>
            </div>
        </div> -->

        <main id="top">

            <section class="head">
                <h1 class="h1">
                    Our work spans design, development, and strategy.
                </h1>
            </section>

            <section class="projects">
                <ul class="list">
                    <li>
                        <a href="/projects/packables-web-development">
                            <picture>
                                <img src="/images/projects/packables/designs/thumbnail.jpg" alt="">
                            </picture>
                            <div class="project-content">
                                <h4>
                                    <span>Packables</span>
                                </h4>
                                <p class="tags">
                                    <span>Brand design, Wireframes & Prototyping, eCommerce</span>
                                </p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="/projects/project_old_portfolio">
                            <picture>
                                <img src="/images/projects/drieziestudio2/thumbnail.jpg" alt="">
                            </picture>
                            <div class="project-content">
                                <h4>
                                    <span>My Old Portfolio</span>
                                </h4>
                                <p class="tags">
                                    <span>Brand design, Wireframes & Prototyping</span>
                                </p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="/projects/project_barzaarblox">
                            <picture>
                                <img src="/images/projects/barzaarblox/thumbnail.jpg" alt="">
                            </picture>
                            <div class="project-content">
                                <h4>
                                    <span>Barzaarblox</span>
                                </h4>
                                <p class="tags">
                                    <span>Brand design, Wireframes & Prototyping, eCommerce</span>
                                </p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="/projects/dda_dutch_digital_agency">
                            <picture>
                                <img src="/images/projects/dda/image1.jpg" alt="">
                            </picture>
                            <div class="project-content">
                                <h4>
                                    <span>Dutch Digital Agency</span>
                                </h4>
                                <p class="tags">
                                    <span>Product Design, UI & UX Design, Development, Deployment</span>
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </section>
        </main>
    <%- include('components/footer') %>
    </body>