<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dutch Digital Agency - driezie.studio</title>
        <!-- import styles -->
        <link rel="stylesheet" href="/style/fonts.css">
        <link rel="stylesheet" href="/style/navbar.css">
        <link rel="stylesheet" href="/style/style.css">
      
        <!-- icon -->
      
        <!-- icon -->
        <link rel="icon" href="/images/icon.png" type="image/x-icon">
        <!-- seo -->
        <meta name="description" content="Redefining the way assets are sold. Offering a service to developers and group owners to sell virtual assets easily. Get started today with just one click of a button.">
        <!-- social media -->
        <meta property="og:title" content="Dutch Digital Agency - driezie studio.">
        <meta property="og:description" content="Redefining the way assets are sold. Offering a service to developers and group owners to sell virtual assets easily. Get started today with just one click of a button.">
        <meta name="twitter:site" content="@driezie">
        <meta name="twitter:creator" content="@driezie">
        <meta name="twitter:title" content="Packables - driezie studio.">
        <meta name="twitter:description" content="Redefining the way assets are sold. Offering a service to developers and group owners to sell virtual assets easily. Get started today with just one click of a button.">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="/images/projects/dda/dda_design_concept_driezie_studio.jpg ">
    
        <script src="/js/lenis.js" defer></script> 
        <script src="/js/main.js" defer></script> 
      </head>
    <body class="smooth-scroll-wrapper">
        <div class="header-container">
            <header>
                <div class="logo">
                    <a href="/#top">
                        <span>D</span>
                        <span>Driezie Studio</span>
                    </a>
                </div>
                <nav class="nav">
                    <a href="/">Home</a>
                    <a href="/projects">Projects</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                </nav>
            </header>
        </div>

        <main id="top">
            <section class="head">
                <h1 class="h1">Dutch Digital Agency</h1>
                <p class="uppercase">Agency</p>
                <p class="uppercase">Product Design, UI & UX Design, Development, Deployment</p>
                <p class="uppercase">2022 - current</p>
            </section>

            <section class="intro">
                <picture>
                    <img src="/images/projects/dda/thumbnail2.jpg" alt="intro logo cover">
                </picture>
            </section>

            <section class="about" id="about">
                <div class="grid">
                    <div class="content">
                        
                        <article class="information">
                            
                            <label>Dutch Digital Agency</label>
                            <p>Digitale bureaus helpen bedrijven en publieke instellingen om hun gebruikers beter van dienst te zijn. Met een app bijvoorbeeld, of een digitaal platform. En daar begint het pas. Want we blijven verslimmen. Met nog handigere knoppen, een persoonlijker inlogscherm of nieuwe functionaliteiten, altijd gebaseerd op de nieuwste technologieën. Al deze stappen en stapjes zorgen voor vooruitgang waarmee miljoenen Nederlanders elke dag hun voordeel doen. Van een bank-app tot een dating-app en van een datagedreven verzekering tot een digitale zorgverlener.</p>

                        </article>
                        <article>
                            <label>Scope of work</label>
                            <p>Product Design</p>
                            <p>UI & UX Design</p>
                            <p>Development</p>
                            <p>Deployment</p>
                        </article>
                        <article>
                            <a class="see-more btn primary" href="https://voorhoede.driezie.studio" target="_blank">View live ↗</a>
                        </article>
                    </div>
                </div>
            </section>

            <section class="content" id="about">
                <div class="content">
                    <picture>
                        <img src="/images/projects/dda/image1.jpg" alt="">
                    </picture>
                    <picture>
                        <img src="/images/projects/dda/image2.jpg" alt="">
                    </picture>
                </div>
            </section>
        </main>
        <%- include('../components/footer') %>
    </body>

        
