<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Packables - driezie.studio</title>
        <!-- import styles -->
        <link rel="stylesheet" href="/style/fonts.css">
        <link rel="stylesheet" href="/style/navbar.css">
        <link rel="stylesheet" href="/style/style.css">
      
        <!-- icon -->
      
        <!-- icon -->
        <link rel="icon" href="/images/icon.png" type="image/x-icon">
        <!-- seo -->
        <meta name="description" content="Redefining the way assets are sold. Offering a service to developers and group owners to sell virtual assets easily. Get started today with just one click of a button.">
        <!-- social media -->
        <meta property="og:title" content="Packables - driezie studio.">
        <meta property="og:description" content="Redefining the way assets are sold. Offering a service to developers and group owners to sell virtual assets easily. Get started today with just one click of a button.">
        <meta name="twitter:site" content="@driezie">
        <meta name="twitter:creator" content="@driezie">
        <meta name="twitter:title" content="Packables - driezie studio.">
        <meta name="twitter:description" content="Redefining the way assets are sold. Offering a service to developers and group owners to sell virtual assets easily. Get started today with just one click of a button.">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="/images/projects/packables/designs/euhgtbdfvnsijogrkdtb.png">
    
        <script src="/js/lenis.js" defer></script> 
        <script src="/js/main.js" defer></script> 
      </head>
    <body class="smooth-scroll-wrapper">
        <div class="header-container">
            <header>
                <div class="logo">
                    <a href="/#top">
                        <span>D</span>
                        <span>Driezie Studio</span>
                    </a>
                </div>
                <nav class="nav">
                    <a href="/">Home</a>
                    <a href="/projects">Projects</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                </nav>
            </header>
        </div>

        <main id="top">
            <section class="head">
                <h1 class="h1">Packables</h1>
                <p class="uppercase">ecommerce</p>
                <p class="uppercase">Design, Development, Deployment, Maintenance</p>
                <p class="uppercase">2022 - current</p>
            </section>

            <section class="intro">
                <picture>
                    <source srcset="/images/projects/packables/designs/euhgtbdfvnsijogrkdtb.avif" type="image/webp">
                    <source srcset="/images/projects/packables/designs/euhgtbdfvnsijogrkdtb.webp" type="image/webp">
                    <img src="/images/projects/packables/designs/euhgtbdfvnsijogrkdtb.png" alt="intro logo cover">
                </picture>
            </section>

            <section class="about" id="about">
                <div class="grid">
                    <div class="content">
                        <article class="information">
                            <label>Packables</label>
                            <p>Redefining the way assets are sold. Offering a service to developers and group owners to sell virtual assets easily. Get started today with just one click of a button.</p>

                        </article>
                        <article>
                            <label>Scope of work</label>
                            <p>Product Design</p>
                            <p>UI & UX Design</p>
                            <p>Development</p>
                            <p>Deployment</p>
                            <p>Maintenance</p>
                        </article>
                    </div>
                </div>
            </section>

            <section class="content" id="about">
                <div class="content">
                    <picture>
                        <img src="/images/projects/packables/designs/erigervuieuivh.jpg" alt="">
                    </picture>
                    <picture>
                        <img src="/images/projects/packables/designs/weighiwehgiuvbe.jpg" alt="">
                    </picture>
                </div>
            </section>

            <section class="content" id="about">
                <div class="content">
                    <h2>
                        Introducing the Packables Website Design Journey
                    </h2>
                    <div class="text">
                        <article class="information">
                            <label>Introduction</label>
                            <p>Creating the Packables website from a template designed for clothing stores was tricky. We didn't have much direction from the client, so we had to be flexible and creative. Our goal was to make the site fit to Packables brand.</p>
                        </article>
    
                        <article>
                            <label>Community Feedback</label>
                            <p>We reached out to the community to gather their thoughts on the current website and what they think could be better. We're using this feedback to make the website more user-friendly and improve the overall experience based on what the community wants.</p>
                        </article>
                    </div>
                </div>
            </section>


            <section class="intro">
                <picture>
                    <img src="/images/projects/packables/designs/uiygiuhuihbjhghv.jpg" alt="Hero">
                </picture>
            </section>

            <section class="content" id="about">
                <div class="content">
                    <picture>
                        <img src="/images/packables-banner.jpg" alt="">
                    </picture>
                    <div class="text">
                        <article class="information">
                            <label>Structuring The website</label>
                            <p>
                                Since we already recieved the unfinished design from a clothing store from a brand we now had to restructure the website to fit the brand of Packables. We had to change the layout and the overall design of the website. We had to make sure that the website was user-friendly and easy to navigate.
                            </p>
                        </article>

                        <article class="information">
                            <label>
                                Testing the website
                            </label>
                            <p>
                                With the hulp of <em>Joshhyyy</em> we were be able to use real data from the API to test the website. We were able to test the website with real data and see how the website would look like with real data. This helped us to see if the website worked as intended.
                            </p>
                            <p>
                                After testing the website we found some bugs and we were able to fix them. We were able to fix the bugs and make the website work as intended.
                            </p>
                        </article>
                    </div>
                </div>
            </section>

            <section class="video">
                <video autoplay muted loop>
                    <source src="/videos/packables_page.mov" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </section>

            <section class="content" id="about">
                <div class="content">
                    <h2>
                        Wrap Up: Improving the Website Based on Community Input
                    </h2>
                    <div class="text">
                        <article class="information">
                            <label>Conclusion</label>
                            <p>
                                The Packables website was a fun project to work on. We were able to create a website that was user-friendly and easy to navigate. We were able to test the website with real data and see how the website would look like with real data. We were able to early fix the bugs with the use of real time data. Thanks to the help of <em>Joshhyyy</em> we were able to test the website with real data.
                            </p>
                        </article>
                    </div>
                </div>
            </section>

            
        </main>
        <%- include('../components/footer') %>
    </body>

        
