<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Barzaarblox - Driezie Studio</title>
        <!-- import styles -->
        <link rel="stylesheet" href="/style/fonts.css">
        <link rel="stylesheet" href="/style/navbar.css">
        <link rel="stylesheet" href="/style/style.css">

        <!-- icon -->

        <!-- icon -->
        <link rel="icon" href="/images/icon.png" type="image/x-icon">
        <!-- seo -->
        <meta name="description" content="Redefining the way assets are sold. Offering a service to developers and group owners to sell virtual assets easily. Get started today with just one click of a button.">
        <!-- social media -->
        <meta property="og:title" content="Packables - Driezie Studio">
        <meta property="og:description" content="Redefining the way assets are sold. Offering a service to developers and group owners to sell virtual assets easily. Get started today with just one click of a button.">
        <meta property="og:image" content="/images/projects/barzaarblox/banner.jpg">
        <meta name="twitter:site" content="@driezie">
        <meta name="twitter:creator" content="@driezie">
        <meta name="twitter:title" content="Packables - Driezie Studio">
        <meta name="twitter:description" content="Redefining the way assets are sold. Offering a service to developers and group owners to sell virtual assets easily. Get started today with just one click of a button.">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="/images/projects/barzaarblox/banner.jpg">

        <script src="/js/lenis.js" defer></script>
        <script src="/js/main.js" defer></script>
      </head>
    <body class="smooth-scroll-wrapper">
        <div class="header-container">
            <header>
                <div class="logo">
                    <a href="/#top">
                        <span>D</span>
                        <span>Driezie Studio</span>
                    </a>
                </div>
                <nav class="nav">
                    <a href="/">Home</a>
                    <a href="/projects">Projects</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                </nav>
            </header>
        </div>

        <main id="top">
            <section class="head">
                <h1 class="h1">Barzaarblox</h1>
                <p class="uppercase">ecommerce</p>
                <p class="uppercase">Design, Development, Deployment, Maintenance</p>
                <p class="uppercase">2022 - 2023</p>
            </section>

            <section class="intro">
                <picture>
                    <img src="/images/projects/barzaarblox/banner.jpg" alt="intro logo cover">
                </picture>
            </section>

            <section class="about" id="about">
                <div class="grid">
                    <div class="content">
                        <article class="information">
                            <label>Barzaarblox</label>
                            <p>This description is to be updated</p>

                        </article>
                        <article>
                            <label>Scope of work</label>
                            <p>Product Design</p>
                            <p>UI & UX Design</p>
                            <p>Development</p>
                            <p>Deployment</p>
                            <p>Maintenance</p>
                        </article>
                    </div>
                </div>
            </section>
        </main>
        <%- include('../components/footer') %>
    </body>
