<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Old Portfolio - driezie.studio</title>
        <!-- import styles -->
        <link rel="stylesheet" href="/style/fonts.css">
        <link rel="stylesheet" href="/style/navbar.css">
        <link rel="stylesheet" href="/style/style.css">
      
        <!-- icon -->
      
        <!-- icon -->
        <link rel="icon" href="/images/icon.png" type="image/x-icon">
        <!-- seo -->
        <meta name="description" content="Redefining the way assets are sold. Offering a service to developers and group owners to sell virtual assets easily. Get started today with just one click of a button.">
        <!-- social media -->
        <meta property="og:title" content="Packables - driezie studio.">
        <meta property="og:description" content="Redefining the way assets are sold. Offering a service to developers and group owners to sell virtual assets easily. Get started today with just one click of a button.">
        <meta name="twitter:site" content="@driezie">
        <meta name="twitter:creator" content="@driezie">
        <meta name="twitter:title" content="Packables - driezie studio.">
        <meta name="twitter:description" content="Redefining the way assets are sold. Offering a service to developers and group owners to sell virtual assets easily. Get started today with just one click of a button.">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="/images/projects/packables/designs/euhgtbdfvnsijogrkdtb.png">
    
        <script src="/js/lenis.js" defer></script> 
        <script src="/js/main.js" defer></script> 
      </head>
    <body class="smooth-scroll-wrapper">
        <div class="header-container">
            <header>
                <div class="logo">
                    <a href="/#top">
                        <span>D</span>
                        <span>Driezie Studio</span>
                    </a>
                </div>
                <nav class="nav">
                    <a href="/">Home</a>
                    <a href="/projects">Projects</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                </nav>
            </header>
        </div>

        <main id="top">
            <section class="head">
                <h1 class="h1">Old Portfolio</h1>
                <p class="uppercase">Portfolio</p>
                <p class="uppercase">Design, Wireframing & Prototyping, Development, Maintenance</p>
                <p class="uppercase">2021 - 2022</p>
            </section>

            <section class="intro">
                <picture>
                    <img src="/images/projects/drieziestudio2/banner.jpg" alt="intro logo cover">
                </picture>
            </section>

            <section class="about" id="about">
                <div class="grid">
                    <div class="content">
                        <article class="information">
                            <label>My old portfolio</label>
                            <p>Creating my first portfolio was a fun project to work on. I was able to create a website that was user-friendly and easy to navigate.</p>
                        </article>
                        <article>
                            <label>Scope of work</label>
                            <p>UI & UX Design</p>
                            <p>Wireframing & Prototyping</p>
                            <p>Development</p>
                            <p>Maintenance</p>
                        </article>
                    </div>
                </div>
            </section>

            <section class="content" id="about">
                <div class="content">
                    <picture>
                        <img src="/images/projects/drieziestudio2/image1.jpg" alt="">
                    </picture>
                    <picture>
                        <img src="/images/projects/drieziestudio2/image2.jpg" alt="">
                    </picture>
                </div>
            </section>

            <section class="content" id="about">
                <div class="content">
                    <picture>
                        <img src="/images/projects/drieziestudio2/image3.jpg" alt="">
                    </picture>
                    <picture>
                        <img src="/images/projects/drieziestudio2/image4.jpg" alt="">
                    </picture>
                </div>
            </section>

            <section class="content" id="about">
                <div class="content">
                    <picture>
                        <img src="/images/projects/drieziestudio2/image5.jpg" alt="">
                    </picture>
                </div>
            </section>


            <section class="content" id="about">
                <div class="content">
                    <h2>
                        Wrap Up: My first portfolio
                    </h2>
                    <div class="text">
                        <article class="information">
                            <label>Conclusion</label>
                            <p>
                                It was a fun project to work on. I was able to create a website that was user-friendly and easy to navigate. I learned a lot about web development and design, and I'm excited to continue working on projects like this in the future.
                            </p>
                        </article>
                    </div>
                </div>
            </section>

        </main>
        <%- include('../components/footer') %>
        
    </body>

        
