<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Parcel Hub Design - Driezie Studio</title>
        <!-- import styles -->
        <link rel="stylesheet" href="/style/fonts.css">
        <link rel="stylesheet" href="/style/navbar.css">
        <link rel="stylesheet" href="/style/style.css">

        <!-- icon -->

        <!-- icon -->
        <link rel="icon" href="/images/icon.png" type="image/x-icon">
        <!-- seo -->
        <meta name="description" content="Parcel is a powerful and reliable ecommerce system offering a service to developers and group owners to sell virtual assets easily. We continually strive to keep the system up to date and add more features to provide an even better experience to our customers.">
        <!-- social media -->
        <meta property="og:title" content="Parcel Hub Design - Driezie Studio">
        <meta property="og:description" content="Parcel is a powerful and reliable ecommerce system offering a service to developers and group owners to sell virtual assets easily. We continually strive to keep the system up to date and add more features to provide an even better experience to our customers.">
        <meta property="og:image" content="/images/projects/parcelhub/designs/banner.jpg">
        <meta name="twitter:site" content="@driezie">
        <meta name="twitter:creator" content="@driezie">
        <meta name="twitter:title" content="Parcel Hub Design - Driezie Studio">
        <meta name="twitter:description" content="Parcel is a powerful and reliable ecommerce system offering a service to developers and group owners to sell virtual assets easily. We continually strive to keep the system up to date and add more features to provide an even better experience to our customers.">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="/images/projects/parcelhub/designs/image1.png">

        <script src="/js/lenis.js" defer></script>
        <script src="/js/main.js" defer></script>
      </head>
    <body class="smooth-scroll-wrapper">
        <div class="header-container">
            <header>
                <div class="logo">
                    <a href="/#top">
                        <span>D</span>
                        <span>Driezie Studio</span>
                    </a>
                </div>
                <nav class="nav">
                    <a href="/">Home</a>
                    <a href="/projects">Projects</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                </nav>
            </header>
        </div>

        <main id="top">
            <section class="head">
                <h1 class="h1">Parcel Hub Design</h1>
                <p class="uppercase">Ecommerce</p>
                <p class="uppercase">Product Design, UI & UX Design</p>
                <p class="uppercase">2024 - 2024</p>
            </section>

            <section class="intro">
                <picture>
                    <img src="/images/projects/parcelhub/banner.jpg" alt="intro logo cover">
                </picture>
            </section>

            <section class="about" id="about">
                <div class="grid">
                    <div class="content">
                        <article class="information">
                            <label>Parcel Hub</label>
                            <p>Parcel is a powerful and reliable ecommerce system offering a service to developers and group owners to sell virtual assets easily. We continually strive to keep the system up to date and add more features to provide an even better experience to our customers.</p>

                        </article>
                        <article>
                            <a class="see-more btn primary" href="https://discord.gg/CbnCxrXJvX" target="_blank">Join Discord Server ↗</a>
                        </article>
                        <article>
                            <label>Scope of work</label>
                            <p>Product Design</p>
                            <p>UI & UX Design</p>
                        </article>
                    </div>
                </div>
            </section>

            <section class="content" id="about">
                <div class="content">
                    <picture>
                        <img src="/images/projects/parcelhub/image1.jpg" alt="">
                    </picture>
                    <picture>
                        <img src="/images/projects/parcelhub/image2.jpg" alt="">
                    </picture>
                </div>
            </section>

            <section class="content" id="about">
                <div class="content">
                    <h2>
                        Introducing the Parcel Hub Journey
                    </h2>
                    <div class="text">
                        <article class="information">
                            <label>Introduction</label>
                            <p>
                              When starting the design, I got my first trial. I had to show them that I was be able to complete the project without delivering poor projects. So they Asked me to build <a href="/projects/project_barzaarblox">Barzaarblox</a>. After this I got accepted to this journey. Firstly I was given a 365 account including an email adress, customer support acces to help fixing early buggs for release. Currently they were switching the way of giving projects so this project was made via the discord groupchat.
                            </p>
                        </article>

                        <article>
                            <label>Feedback</label>
                            <p>After some weeks I've been able to deliver my project. I had to make a few adjustments, create it not only in Figma but also in Roblox Studio and some other small features had to be added as requested. The project was succesfully finished and were delivered far before my deadline.</p>
                        </article>
                    </div>
                </div>
            </section>


            <section class="content" id="about">
                <div class="content">
                    <picture>
                        <img src="/images/projects/parcelhub/image3.jpg" alt="">
                    </picture>
                    <picture>
                        <img src="/images/projects/parcelhub/image8.jpg" alt="">
                    </picture>
                </div>
            </section>

            <section class="content" id="about">
                <div class="content">
                    <h2>
                        Concepts
                    </h2>
                    <div class="text">
                        <article class="information">
                            <label>Introduction</label>
                            <p>
                              Here are some designs I've created that did not make it in the final project
                            </p>
                        </article>
                    </div>
                </div>
            </section>

            <section class="content" id="about">
                <div class="content">
                    <picture>
                        <img src="/images/projects/parcelhub/image4.jpg" alt="">
                    </picture>
                    <picture>
                        <img src="/images/projects/parcelhub/image5.jpg" alt="">
                    </picture>
                </div>
            </section>

            <section class="content" id="about">
                <div class="content">
                    <picture>
                        <img src="/images/projects/parcelhub/image7.jpg" alt="">
                    </picture>
                </div>
            </section>

            <section class="content" id="about">
                <div class="content">
                    <h2>
                        A thank you
                    </h2>
                    <div class="text">
                        <article class="information">
                            <label>thanks to</label>
                            <p>
                              I would like to thank Joshhy, Julian and Amin for helping with this project with giving me feedback for improvement.
                            </p>
                        </article>
                        <article>
                            <a class="see-more btn primary" href="https://www.roblox.com/games/9411404428/Hub" target="_blank">See the product live on Roblox ↗</a>
                        </article>
                    </div>
                </div>
            </section>




        </main>
        <%- include('../components/footer') %>
    </body>
